@{
    ViewBag.Title = "Welcome to GB Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Welcome!</h1>
        <hr />
        <h3>The purpose of this project is to present a CSV file as a jQuery data table or a chart using <strong>chart.js</strong> and <strong>ChartJSCore</strong> libraries.</h3>
        <hr />
        <div class="center">
            <img  src="/img/chartjs.svg" alt="chart.js logo" width="200" />
            <img  src="/img/ChartJSCore.png" alt="ChartJSCore logo" width="200" />
            <img  src="/img/datatables.png" alt="DataTables logo" width="200" />
        </div>
    </div>
</div>
