@{
    ViewBag.Title = "Stock Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="aggregate" class="table table-primary table-sm table-bordered text-center" style="margin:auto; width:75%;">
    <thead>
        <tr>
            <th>Max Market Price</th>
            <th>Min Market Price</th>
            <th>Average Market Price</th>
            <th>Most expensive hour window</th>
        </tr>
    </thead>
    <tbody>
        @{
            GridBeyond.Models.StockAggregates aggregates = (GridBeyond.Models.StockAggregates)ViewData["aggregates"];
        }
        <tr>
            <td>@aggregates.Max</td>
            <td>@aggregates.Min</td>
            <td>@aggregates.Average</td>
            <td>@aggregates.MaxExpensive</td>
        </tr>
    </tbody>
</table>
<hr>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="stocksTable">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Market Price Ex1</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.24/dataRender/datetime.js"></script>

<script>
    $(document).ready(function() {
        bindDatatable();
    });

    function bindDatatable() {
        datatable = $('#stocksTable')

            .DataTable({
                "sAjaxSource": "/Home/GetData",
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": true,
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                "columns": [
                    {
                        data: "date",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        data: "marketPrice",
                        "autoWidth": true,
                        "searchable": true
                    },
                ],
                columnDefs: [
                    {
                        targets: 0,
                        render: DataTable.render.date("DD-MM-YYYY hh:mm:ss a"),
                    },
                ],
            });

    }
</script>
